body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-color:whitesmoke;
}


nav{
    float: right;
    margin-right:50px;
    margin-top:40px;
    color:grey;
    
}
a{
    color: grey;
    font-size: 16px;
    text-decoration: none;
}
/*header*/

h2{
    float:left;
    width: fit-content;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: teal;
    font-size: 30px;
    color: white;
    margin-top: 33px;
    margin-left: 60px;
    padding: 20px;
}
/*hover on links*/
a:hover{        
    text-decoration: none;
    color: darkgrey;
}
/*content background image*/
section.content{
    background-image: url("http://people.csail.mit.edu/jaffer/Solid/greystone.jpg");
    margin:0 30px 0 30px;
    border-top: 3px solid darkgrey;
    padding:20px 30px 60px 30px;
}
/*contact heading*/
h3.pc{
    color: teal;
    font-size: 25px;
}
/*actual content*/
div.content{
    width:960px;
    margin-top: 40px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom:auto;
    padding: 30px 30px 40px 30px;
    color: grey;
    background: snow;
    
   
}
/* style for button*/
input[type=submit], select{
    float: left;
    background-color: teal;
    color:white;
    width: fit-content;
    font-size: 30px;


}
/*textbox styling*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* footer*/
.h1{
    position: fixed;
    border-top: 5px solid green;
    height: 22px;
    text-align: center;
    color: grey;
    font-size: 12px;
    background: rgb(104, 103, 103);
    width:100%;
    bottom:0;
}
img{
    float: left;
    height:120px;
    width:100px;
    padding-right:10px;
}
.container{
    text-align: center;
    padding: 20px;
}
.gaming{
   float: left;
    height: 180px;
    width: 120px;
}
.trip{
float:right;
height: 100px;
width: 70px; 
margin: auto;
}
.golden{
    float: left;
    margin: auto
}
.paradise{

}


/*
h2{
    float:left;
    width: fit-content;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: teal;
    font-size: 30px;
    color: white;
    margin:0 auto 0 auto;
    padding: 30px;
    
    
}
nav{
    float: right;
}
a{
    color:grey;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
    input[type=submit], select{
        float: left;
        background-color: teal;
        width: fit-content;
        font-size: 30px;


    }
    .h1{
    
            border-bottom: 6px solid green;
            height: 500px;
    }
    h3{
        margin: 40px 40px 80px 40px;
    }
    img{
        float: left;
    }
    p{
        color:grey;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    div.header{
        margin: 0 auto 0 auto;
        padding: 30px;
    }
    